<body>
<div class="cart-header">
  <div class="shopping-cart">Shopping cart:</div>
  <button mat-icon-button (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<br>
<div class="cart-container">
  <div *ngFor="let advert of data" [ngClass]="{'inactive_advert': !advert.isActive}">
    <div class="advert-item">
      <h2 class="advert-title">{{ advert.name }}
        <span *ngIf="!advert.isActive"> - INACTIVE </span>
      </h2>
      <div class="advert-details">
        <div *ngIf="advert.photos.length > 0" class="carousel-container">
          <img *ngFor="let image of advert.photos;  let i=index"
               [src]="image.data ? 'data:image/png;base64,' + image.data : image.photoUrl"
               [ngClass]="{'image-active': advert.selectedIndex === i}">
          <div class="carousel-dot-container">
    <span *ngFor="let dot of advert.photos; let i=index"
          class="dot"
          [ngClass]="{'active': advert.selectedIndex === i}"
          (click)="selectImage(advert, i)">
    </span>
          </div>
        </div>
        <div class="advert-info">
          <p class="advert-price"> {{ advert.price }} € </p>
        </div>
        <button class="remove-button" (click)="removeItem(advert)">
          <span class="remove-icon-container">
            <mat-icon>remove_circle_outline</mat-icon>
          </span>
          Remove
        </button>
      </div>
    </div>
  </div>
  <div class="order-button-container">
    <button class="place-order-button" (click)="placeOrder()">Place Order</button>
  </div>
</div>
</body>
