<body>
  <app-toggle-button class="toggle-button"></app-toggle-button>
  <app-md-buttons class="unusable"></app-md-buttons>
<div>
  <button class="cart-button" (click)="openCartDialog()">
    <mat-icon>add_shopping_cart</mat-icon>
  </button>
  <div class="adverts-container" *ngFor="let advert of adverts">
    <div class="advert-item">
      <h2 class="advert-title"> {{ advert.name }}</h2>
      <div class="advert-details">
        <div *ngIf="advert.photos.length > 0" class="carousel-container">
          <img *ngFor="let image of advert.photos;  let i=index"
               [src]="image.data ? 'data:image/png;base64,' + image.data : image.photoUrl"
               [ngClass]="{'image-active': advert.selectedIndex === i}">
          <div class="carousel-dot-container">
    <span *ngFor="let dot of advert.photos; let i=index"
          class="dot"
          [ngClass]="{'active': advert.selectedIndex === i}"
          (click)="selectImage(advert, i)">
    </span>
          </div>
        </div>
        <div class="advert-info">
          <p class="advert-description"> {{ advert.description}} </p>
          <p class="advert-seller-username"> {{ advert.seller.username}} </p>
          <div *ngIf="advert.seller.phoneNumber"> {{ advert.seller.phoneNumber}} </div>
          <p class="advert-price"> {{ advert.price }} € </p>
          <button class="buy-button usable" (click)="addToCart(advert)">
            <span class="add-icon-container">
              <mat-icon>add_circle_outline</mat-icon>
            </span>
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
</div>
</body>
